:root {
	--destaque: CornflowerBlue;
	--principal: DarkSlateGray;
	--principal-2: MintCream;
	--destaque-2: DarkBlue;
}
/*--------------------------------------------------------------*/
*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: var(--principal-2);
	color: var(--principal);
}
/*--------------------------------------------------------------*/
header, footer{
	display: flex;
	justify-content: center;
}

.topo, .rodape{
	display: flex;
	flex-direction: column;
	align-items: center;	
		
	width: 70%;
	padding: 10px;
}

.topo{	
	border-bottom: 1px solid var(--destaque);
}

.rodape{	
	border-top: 1px solid var(--destaque);	
}

.item-topo{
	margin-bottom: 5px;	
}
/*--------------------------------------------------------------*/
main{
	display: flex;
	justify-content: center;	
	align-items: center;	
	
	min-height: 400px;
}

.principal2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	
	min-height: 400px;		
}

h3{
	text-align: right;
	
	margin: 20px 0 10px 0;	
}

.formulario{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.campo-formulario{
	display: flex;
	
	margin-top: 10px;
}

.campo{
	margin-left: 10px;	
	width: 300px;
	
	background-color: var(--principal-2);
	color: var(--principal);
	border: 1px solid var(--destaque);
}

textarea{
	height: 80px;
	resize: none;
}

.descricao-campo{
	text-align: right;
}

.botao{
	margin: 10px 0 10px 0;	
	padding: 7px;

	background-color: var(--destaque);
	color: var(--principal-2);
	border: 0;
}
/*--------------------------------------------------------------*/
table, td{
	border: 2px solid var(--destaque);	
}

table{
	border-collapse: collapse;
}

thead td{
	background-color: var(--destaque);
	color: var(--principal);
	
	max-width: 150px;
}

td{
	padding: 5px;
	
	text-align: center;
}
/*--------------------------------------------------------------*/
p{
	margin: 10px;	
	
	text-align: center;
}

a{
	color: var(--destaque-2);
	text-decoration: none;
}
